@using MobileWorld.Core.Models;
@using System.Linq;
@using Microsoft.AspNetCore.Identity
@using MobileWorld.Infrastructure.Data.Common
@using MobileWorld.Infrastructure.Data.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@model AdViewModel;


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link asp-append-version="true" rel="stylesheet" href="~/css/CarDetails.css">
    <link asp-append-version="true" rel="stylesheet" href="~/css/site.css">
    @*<link asp-append-version="true" rel="stylesheet" href="~/css/Ad.css">*@

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    @*//*@

    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div style="width:80%" class="carousel-inner">

            @foreach (var image in @Model.Images)
            {
                @await Html.PartialAsync("_CarImagePartial",image)
                ;
            }

        </div>
        <a style="height: 495px" class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a style="right: 195px; height: 495px" class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
        <br />


    </div>

    <strong style="font-size:21px;color:#333;">@Model.Title</strong>
    @if (Model.Owner.OwnerId == UserManager.GetUserId(User) || User.IsInRole(GlobalConstants.AdministratorRole))
    {
        <a class="delete-border" asp-action="Delete" asp-route-adId="@Model.Id">Изтрий</a>
        <a class="edit-border" asp-action="Edit" asp-route-adId="@Model.Id">Редактирай</a>
    }
    @*TODO: Fix button*@

    @if(UserManager.GetUserId(User)!=null){
        @if (Model.Owner.IsFavoriteAd)
        {
        <button class="fav-borderd" onclick="UnFav('@Model.Id','@Model.Owner.OwnerId')">Премахни от любими</button>
        }
        else
        {
        <button class="fav-borderd" onclick="Fav('@Model.Id','@Model.Owner.OwnerId')">Добави в любими</button>
        }
    }
    



    <br>

    <div style="width:400px; display:inline-block; float:left; margin-top:15px; overflow: hidden;">
        <table style="width:360px;" cellspacing="0" cellpadding="0" bgcolor="#EFEFEF">
            <tbody>
                <tr>
                    <td class="owner-info">
                        <strong style="border-bottom: #CCC 2px solid; ">За автомобила</strong><br>
                        <span class="dealerData-odd">Дата на производство -</span>
                        <span class="dealerData-even">@Model.Car.Year</span><br>

                        <span class="dealerData-odd">Тип двигател -</span>
                        <span class="dealerData-even">@Model.Car.Engine.FuelType</span><br>

                        <span class="dealerData-odd">Мощност -</span>
                        <span class="dealerData-even">@Model.Car.Engine.HorsePower к.с.</span><br>

                        <span class="dealerData-odd">Евростандарт -</span>
                        <span class="dealerData-even">@Model.Car.Engine.EcoLevel</span><br />

                        <span class="dealerData-odd">Скоростна кутия -</span>
                        <span class="dealerData-even">@Model.Car.GearType</span><br>

                        <span class="dealerData-odd">Пробег -</span>
                        <span class="dealerData-even">@Model.Car.Mileage км</span><br>

                        <span class="dealerData-odd">Цвят -</span>
                        <span class="dealerData-even">@Model.Car.Color</span><br>
                        <br>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    @if (Model.Description != null)
    {
        <br>
        <div>
            <p class="more-info">Допълнителна информация:</p>
            <table class="table-more-info">
                <tbody>
                    <tr><td class="more-info-text">@Model.Description </td></tr>
                </tbody>
            </table>
        </div>
    }
    <br />

    <div style="padding-top:25px; padding-bottom:15px; float:left">
        <table id="features">
            <tbody>
                <tr>
                    <td valign="top">
                        <div class="hiden">
                            <strong>Безопасност</strong>
                            <div>
                                <input checked="@Model.Car.Features.SafetyDetails.Gps" type="checkbox" data-val="true" value="true">
                                <label>GPS система за пропредияване</label>
                            </div>
                            <div>
                                <input checked="@Model.Car.Features.SafetyDetails.AutomaticStabilityControl" type="checkbox" data-val="true" value="true">
                                <label>Автоматичен контрол на стабилността</label>
                            </div>
                            <div>
                                <input checked="@Model.Car.Features.SafetyDetails.AdaptiveFrontLights" type="checkbox" data-val="true" value="true">
                                <label>Адаптивни предни светлини</label>
                            </div>
                            <div>
                                <input checked="@Model.Car.Features.SafetyDetails.Abs" type="checkbox" data-val="true" value="true">
                                <label>Антиблокираща система</label>
                            </div>
                            <div>
                                <input checked="@Model.Car.Features.SafetyDetails.ElBreaks" type="checkbox" data-val="true" value="true">
                                <label>Ел. разпределяне на спирачното усилие</label>
                            </div>
                            <div>
                                <input checked="@Model.Car.Features.SafetyDetails.Esp" type="checkbox" data-val="true" value="true">
                                <label>Електронна програма за стабилизиране</label>
                            </div>
                            <div>
                                <input checked="@Model.Car.Features.SafetyDetails.TirePressure" type="checkbox" data-val="true" value="true">
                                <label>Контрол на налягането на гумите</label>
                            </div>
                            <div>
                                <input checked="@Model.Car.Features.SafetyDetails.ParkPilot" type="checkbox" data-val="true" value="true">
                                <label>Парктроник</label>
                            </div>
                            <div>
                                <input checked="@Model.Car.Features.SafetyDetails.IsoFix" type="checkbox" data-val="true" value="true">
                                <label>Система ISOFIX</label>
                            </div>
                            <div>
                                <input checked="@Model.Car.Features.SafetyDetails.DynamicStabilitySystem" type="checkbox" data-val="true" value="true">
                                <label>Система за динамична устойчивост</label>
                            </div>
                            <div>
                                <input checked="@Model.Car.Features.SafetyDetails.SlipProtectionSystem" type="checkbox" data-val="true" value="true">
                                <label>Система за защита от пробуксуванет</label>
                            </div>
                            <div>
                                <input checked="@Model.Car.Features.SafetyDetails.DryBrakesSystem" type="checkbox" data-val="true" value="true">
                                <label>Система за изсушаване на накладките</label>
                            </div>
                            <div>
                                <input checked="@Model.Car.Features.SafetyDetails.Distronic" type="checkbox" data-val="true" value="true">
                                <label>Система за контрол на дистанцията</label>
                            </div>
                            <div>
                                <input checked="@Model.Car.Features.SafetyDetails.HillDescentControll" type="checkbox" data-val="true" value="true">
                                <label>Система за контрол на спускането</label>
                            </div>
                            <div>
                                <input checked="@Model.Car.Features.SafetyDetails.BrakeAssist" type="checkbox" data-val="true" value="true">
                                <label>Система за подпомагане на спирането</label>
                            </div>
                        </div>

                    </td>
                    <td valign="top">
                        <div class="hiden">
                            <strong>Комфорт</strong>
                            <div>
                                <input checked="@Model.Car.Features.ComfortDetails.AutoStartStop" type="checkbox" data-val="true" value="true">
                                <label>Auto Start Stop function</label>
                            </div>
                            <div>
                                <input checked="@Model.Car.Features.ComfortDetails.DvdTv" type="checkbox" data-val="true" value="true">
                                <label>DVD, TV</label>
                            </div>
                            <div>
                                <input checked="@Model.Car.Features.ComfortDetails.BluetoothHandsfree" type="checkbox" data-val="true" value="true">
                                <label>Bluetooth \ handsfree система</label>
                            </div>
                            <div>
                                <input checked="@Model.Car.Features.ComfortDetails.SteptronicTiptronic" type="checkbox" data-val="true" value="true">
                                <label>Steptronic, Tiptronic</label>
                            </div>
                            <div>
                                <input checked="@Model.Car.Features.ComfortDetails.Usb" type="checkbox" data-val="true" value="true">
                                <label>USB, audio\video, IN\AUX изводи</label>
                            </div>
                            <div>
                                <input checked="@Model.Car.Features.ComfortDetails.Airmatic" type="checkbox" data-val="true" value="true">
                                <label>Адаптивно въздушно окачване</label>
                            </div>
                            <div>
                                <input checked="@Model.Car.Features.ComfortDetails.Keyless" type="checkbox" data-val="true" value="true">
                                <label>Безключово палене</label>
                            </div>
                            <div>
                                <input checked="@Model.Car.Features.ComfortDetails.DifferentialLock" type="checkbox" data-val="true" value="true">
                                <label>Блокаж на диференциала</label>
                            </div>
                            <div>
                                <input checked="@Model.Car.Features.ComfortDetails.BordPc" type="checkbox" data-val="true" value="true">
                                <label>Бордкомпютър</label>
                            </div>
                            <div>
                                <input checked="@Model.Car.Features.ComfortDetails.FastSlowShifts" type="checkbox" data-val="true" value="true">
                                <label>Бързи \ бавни скорости</label>
                            </div>
                            <div>
                                <input checked="@Model.Car.Features.ComfortDetails.LightDetector" type="checkbox" data-val="true" value="true">
                                <label>Датчик за светлина</label>
                            </div>
                            <div>
                                <input checked="@Model.Car.Features.ComfortDetails.ElMirrors" type="checkbox" data-val="true" value="true">
                                <label>Ел. Огледала</label>
                            </div>
                            <div>
                                <input checked="@Model.Car.Features.ComfortDetails.ElGlass" type="checkbox" data-val="true" value="true">
                                <label>Ел. Стъкла</label>
                            </div>
                            <div>
                                <input checked="@Model.Car.Features.ComfortDetails.ElSuspension" type="checkbox" data-val="true" value="true">
                                <label>Ел. регулиране на окачването</label>
                            </div>
                            <div>
                                <input checked="@Model.Car.Features.ComfortDetails.ElSeats" type="checkbox" data-val="true" value="true">
                                <label>Ел. регулиране на седалките</label>
                            </div>
                            <div>
                                <input checked="@Model.Car.Features.ComfortDetails.Eps" type="checkbox" data-val="true" value="true">
                                <label>Ел. усилвател на волана</label>
                            </div>
                            <div>
                                <input checked="@Model.Car.Features.ComfortDetails.Ac" type="checkbox" data-val="true" value="true">
                                <label>Климатик</label>
                            </div>
                            <div>
                                <input checked="@Model.Car.Features.ComfortDetails.Climatecontroll" type="checkbox" data-val="true" value="true">
                                <label>Климатроник</label>
                            </div>
                            <div>
                                <input checked="@Model.Car.Features.ComfortDetails.MultiSteeringWheel" type="checkbox" data-val="true" value="true">
                                <label>Мултифункционален волан</label>
                            </div>
                            <div>
                                <input checked="@Model.Car.Features.ComfortDetails.Navigation" type="checkbox" data-val="true" value="true">
                                <label>Навигация</label>
                            </div>
                            <div>
                                <input checked="@Model.Car.Features.ComfortDetails.SteeringWheelHeating" type="checkbox" data-val="true" value="true">
                                <label>Отопление на волана</label>
                            </div>
                            <div>
                                <input checked="@Model.Car.Features.ComfortDetails.FrontGlassHeating" type="checkbox" data-val="true" value="true">
                                <label for="front-glass-heating">Подгряване на предното стъкло</label>
                            </div>
                            <div>
                                <input checked="@Model.Car.Features.ComfortDetails.SeatsHeating" type="checkbox" data-val="true" value="true">
                                <label>Подгряване на седалките</label>
                            </div>
                            <div>
                                <input checked="@Model.Car.Features.ComfortDetails.SteeringWheelAdjustment" type="checkbox" data-val="true" value="true">
                                <label>Регулиране на волана</label>
                            </div>
                            <div>
                                <input checked="@Model.Car.Features.ComfortDetails.RainSensor" type="checkbox" data-val="true" value="true">
                                <label>Сензор за дъжд</label>
                            </div>
                            <div>
                                <input checked="@Model.Car.Features.ComfortDetails.PowerSteering" type="checkbox" data-val="true" value="true">
                                <label>Серво усилвател на волана</label>
                            </div>
                            <div>
                                <input checked="@Model.Car.Features.ComfortDetails.HeadlampWashSystem" type="checkbox" data-val="true" value="true">
                                <label>Система за измиване на фаровете</label>
                            </div>
                            <div>
                                <input checked="@Model.Car.Features.ComfortDetails.Autopilot" type="checkbox" data-val="true" value="true">
                                <label>Система за контрол на скоростта (автопилот)</label>
                            </div>
                            <div>
                                <input checked="@Model.Car.Features.ComfortDetails.Stereo" type="checkbox" data-val="true" value="true">
                                <label>Стерео уредба</label>
                            </div>
                            <div>
                                <input checked="@Model.Car.Features.ComfortDetails.Filter" type="checkbox" data-val="true" value="true">
                                <label>Филтър за твърди частици</label>
                            </div>
                            <div>
                                <input checked="@Model.Car.Features.ComfortDetails.RefrigerationFrog" type="checkbox" data-val="true" value="true">
                                <label for="refrigeration-frog">Хладилна жабка</label>
                            </div>
                        </div>

                    </td>
                    <td valign="top">
                        <div class="hiden">
                            <strong>Други</strong>
                            <div>
                                <input checked="@Model.Car.Features.OthersDetails.AllDrive" type="checkbox" data-val="true" value="true">
                                <label>4x4</label>
                            </div>
                            <div>
                                <input checked="@Model.Car.Features.OthersDetails.SevenSeats" type="checkbox" data-val="true" value="true">
                                <label>7 места</label>
                            </div>
                            <div>
                                <input checked="@Model.Car.Features.OthersDetails.BuyBack" type="checkbox" data-val="true" value="true">
                                <label>Buy back</label>
                            </div>
                            <div>
                                <input checked="@Model.Car.Features.OthersDetails.Exchange" type="checkbox" data-val="true" value="true">
                                <label for="exchange">Бартер</label>
                            </div>
                            <div>
                                <input checked="@Model.Car.Features.OthersDetails.AutoGas" type="checkbox" data-val="true" value="true">
                                <label>Газова уредба</label>
                            </div>
                            <div>
                                <input checked="@Model.Car.Features.OthersDetails.Long" type="checkbox" data-val="true" value="true">
                                <label for="long">Дълга база</label>
                            </div>
                            <div>
                                <input checked="@Model.Car.Features.OthersDetails.Catastrophic" type="checkbox" data-val="true" value="true">
                                <label>Катастрофирал</label>
                            </div>
                            <div>
                                <input checked="@Model.Car.Features.OthersDetails.Leasing" type="checkbox" data-val="true" value="true">
                                <label>Лизинг</label>
                            </div>
                            <div>
                                <input checked="@Model.Car.Features.OthersDetails.MethaneSystem" type="checkbox" data-val="true" value="true">
                                <label>Метанова уредба</label>
                            </div>
                            <div>
                                <input checked="@Model.Car.Features.OthersDetails.InPieces" type="checkbox" data-val="true" value="true">
                                <label>На части</label>
                            </div>
                            <div>
                                <input checked="@Model.Car.Features.OthersDetails.FullyServed" type="checkbox" data-val="true" value="true">
                                <label>Напълно обслужен</label>
                            </div>
                            <div>
                                <input checked="@Model.Car.Features.OthersDetails.Registration" type="checkbox" data-val="true" value="true">
                                <label>С регистрация</label>
                            </div>
                            <div>
                                <input checked="@Model.Car.Features.OthersDetails.Tuning" type="checkbox" data-val="true" value="true">
                                <label for="tuning">Тунинг</label>
                            </div>
                        </div>

                        <div class="hiden">
                            <strong>Екстериор</strong>
                            <div>
                                <input checked="@Model.Car.Features.ExteriorDetails.Coupe" type="checkbox" data-val="true" value="true">
                                <label>2(3) Врати</label>
                            </div>
                            <div>
                                <input checked="@Model.Car.Features.ExteriorDetails.Sedan" type="checkbox" data-val="true" value="true">
                                <label>4(5) Врати</label>
                            </div>
                            <div>
                                <input checked="@Model.Car.Features.ExteriorDetails.LedHeadlights" type="checkbox" data-val="true" value="true">
                                <label>LED фарове</label>
                            </div>
                            <div>
                                <input checked="@Model.Car.Features.ExteriorDetails.XenonLights" type="checkbox" data-val="true" value="true">
                                <label>Ксенонови фарове</label>
                            </div>
                            <div>
                                <input checked="@Model.Car.Features.ExteriorDetails.AlloyWheels" type="checkbox" data-val="true" value="true">
                                <label>Лети джанти</label>
                            </div>
                            <div>
                                <input checked="@Model.Car.Features.ExteriorDetails.Metallic" type="checkbox" data-val="true" value="true">
                                <label>Металик</label>
                            </div>
                            <div>
                                <input checked="@Model.Car.Features.ExteriorDetails.PanoramicSunroof" type="checkbox" data-val="true" value="true">
                                <label>Панорамен люк</label>
                            </div>
                            <div>
                                <input checked="@Model.Car.Features.ExteriorDetails.Spoilers" type="checkbox" data-val="true" value="true">
                                <label>Спойлери</label>
                            </div>
                            <div>
                                <input name="Features.ExteriorDetails.Shibedah" type="checkbox" data-val="true" value="true">
                                <label for="Shibedah">Шибедах</label>
                            </div>
                            <div>
                                <input checked="@Model.Car.Features.ExteriorDetails.HalogenHeadlights" type="checkbox" data-val="true" value="true">
                                <label>Халогенни фарове</label>
                            </div>
                        </div>

                    </td>
                    <td valign="top">
                        <div class="hiden">
                            <strong>Защита</strong>
                            <div>
                                <input checked="@Model.Car.Features.ProtectionDetails.Alarm" type="checkbox" data-val="true" value="true">
                                <label>Аларма</label>
                            </div>
                            <div>
                                <input checked="@Model.Car.Features.ProtectionDetails.Armored" type="checkbox" data-val="true" value="true">
                                <label for="armored">Брониран</label>
                            </div>
                            <div>
                                <input checked="@Model.Car.Features.ProtectionDetails.Immobilizer" type="checkbox" data-val="true" value="true">
                                <label>Имобилайзер</label>
                            </div>
                            <div>
                                <input checked="@Model.Car.Features.ProtectionDetails.Casco" type="checkbox" data-val="true" value="true">
                                <label>Каско</label>
                            </div>
                            <div>
                                <input checked="@Model.Car.Features.ProtectionDetails.CentralLocking" type="checkbox" data-val="true" value="true">
                                <label>Централно заключване</label>
                            </div>
                        </div>

                        <div class="hiden">

                            <strong>Интериор</strong>
                            <div>
                                <input checked="@Model.Car.Features.InteriorDetails.SuedeSaloon" type="checkbox" data-val="true" value="true">
                                <label>Велурен салон</label>
                            </div>
                            <div>
                                <input checked="@Model.Car.Features.InteriorDetails.LeatherSalon" type="checkbox" data-val="true" value="true">
                                <label for="leather-salon">Кожен салон</label>
                            </div>
                        </div>


                        <div class="hiden">
                            <strong>Специализирани</strong>
                            <div>
                                <input checked="@Model.Car.Features.InteriorDetails.Taxi" type="checkbox" data-val="true" value="true">
                                <label>TAXI</label>
                            </div>
                            <div>
                                <input checked="@Model.Car.Features.InteriorDetails.Educational" type="checkbox" data-val="true" value="true">
                                <label for="educational">Учебен</label>
                            </div>
                            <div>
                                <input checked="@Model.Car.Features.InteriorDetails.Ruler" type="checkbox" data-val="true" value="true">
                                <label for="ruler">Линейка</label>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <table style="width:360px;" cellspacing="0" cellpadding="0" bgcolor="#EFEFEF">
            <tbody>
                <tr>
                    <td class="owner-info">
                        <strong style="border-bottom: #CCC 2px solid;">За контакти</strong><br>
                        <span class="dealerData-odd">Телефон: </span>
                        <span class="dealerData-even">@Model.PhoneNumber</span><br>
                        <span class="dealerData-odd">Име - </span>
                        <span class="dealerData-even">@Model.Owner.FirstName @Model.Owner.LastName</span><br>
                        <span class="dealerData-odd">Регион :</span>
                        <span class="dealerData-even">@Model.Region.RegionName</span><br>
                        <span class="dealerData-odd">гр. </span>
                        <span class="dealerData-even">@Model.Region.TownName</span><br>
                        @if (Model.Region.Neiborhood != null)
                        {
                            <span class="dealerData-odd">КВ.</span>
                            <span class="dealerData-even">@Model.Region.Neiborhood</span>
                            <br>
                        }
                        <br>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <br />

    <div style="float:left; margin-top:10px;">
        <span style="color:#999999">Създадена на @Model.CreatedOn</span><br>
    </div>

</body>
</html>

<script>
     let image = document.querySelector(".carousel-item");
     image.classList.add("active");

     let checkedBoxex = document.querySelectorAll('input[type="checkbox"]:checked');

    for(let element of checkedBoxex){
        element.setAttribute("disabled","disabled")
        element.parentNode.parentNode.classList="";
    }

     let unCheckedBoxex = document.querySelectorAll('input[type="checkbox"]:not(:checked)');
     for(let element of unCheckedBoxex){
        element.parentElement.classList="hiden";
    }

    function Fav(Id, UserId){
        let url = '@Url.Action("Fav","Home")';

        $.ajax({
            url: url,
            type: 'POST',
            data: {
                adId: Id,
                userId : UserId
            },
            success: function (data) {
                if(data.length == 0) // No errors
                    alert("Успешно добавихте обятава в любими!");
            },
            error: function (jqXHR) { // Http Status is not 200
            },
            complete: function (jqXHR, status) { // Whether success or error it enters here
            }
        }); 
    }

    function UnFav(Id, UserId){
        let url = '@Url.Action("UnFav","Home")';

        $.ajax({
            url: url,
            type: 'POST',
            data: {
                adId: Id,
                userId : UserId
            },
            success: function (data) {
                if(data.length == 0) // No errors
                    alert("Успешно премахнахте обятава от любими!");
            },
            error: function (jqXHR) { // Http Status is not 200
            },
            complete: function (jqXHR, status) { // Whether success or error it enters here
            }
        }); 
    }





</script>