@    using MobileWorld.Core.Models
@    using MobileWorld.Infrastructure.Data.Identity
@    using Microsoft.AspNetCore.Identity
@    using MobileWorld.Infrastructure.Data.Common
@model UserViewModel
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    string otherRole = Model.Role == @GlobalConstants.BaseRole ? @GlobalConstants.AdministratorRole : @GlobalConstants.BaseRole;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Редактиране на потребител</title>
    <link asp-append-version="true" rel="stylesheet" href="~/css/Users.css">
    <link asp-append-version="true" rel="stylesheet" href="~/css/EditUser.css">
</head>
<body>

    <form asp-action="UpdateUser" asp-route-userId=@Model.Id method="post" enctype="multipart/form-data">
        <strong>Име</strong>
        <input asp-for="FirstName" type="text" value="@Model.FirstName" />
        <br />
        <strong>Фамилия</strong>
        <input asp-for="LastName" type="text" value="@Model.LastName" />
        <br />

        <strong>Потребителско име</strong>
        <input asp-for="UserName" type="text" value="@Model.UserName" />
        <br />

        <strong>Имейл</strong>
        <input asp-for="Email" type="text" value="@Model.Email" />
        <br />

        <strong>Роли на текущият потребирел "@Model.UserName"</strong>
        <br />

        <select asp-for="Role">
            <option value="@Model.Role">
                @Model.Role
            </option>
            <option value="@otherRole">
               @otherRole
            </option>
        </select>

            <button type="submit" class="btn btn-block btn-primary">Запази промените</button>

    </form>


    <div class="user-ads">
        <strong>Брой на обяви</strong>
        <label>@Model.AdsCount</label>
        <div>
            @foreach (var ad in Model.UserAds)
            {
                <label>@ad.Id</label>
                <a class="delete-border" asp-controller="Ad" asp-action="Delete" asp-route-adId="@ad.Id">Изтрий</a>
                <a class="edit-border" asp-controller="Ad" asp-action="Edit" asp-route-adId="@ad.Id">Редактирай</a>
            }
        </div>
    </div>

</body>
</html>