@using MobileWorld.Core.Models;
@model AdViewModel;


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link asp-append-version="true" rel="stylesheet" href="~/css/CarDetails.css">
    <link asp-append-version="true" rel="stylesheet" href="~/css/site.css">


    <title>Document</title>
</head>
<body>
    <h1>@Model.Title</h1>
    @if (Model.Description != null)
    {
        <div class="more-info">Допълнителна информация:</div>
        <table class="table-more-info">
            <tbody>
                <tr><td class="more-info-text">@Model.Description </td></tr>
            </tbody>
        </table>
    }

    <div class="contacts">За контакти:</div>
    <table style="width:360px;" cellspacing="0" cellpadding="0" border="0" bgcolor="#EFEFEF">
        <tbody>
            <tr>
                <td class="owner-info">
                    <span class="owner-phone">Телефон: @Model.Owner.PhoneNumber</span><br><br>
                    <span class="owner-name">Име - Trifon</span>
                    <span class="owner-addres">Адрес :</span>
                    Регион: @Model.Region.RegionName<br>гр. @Model.Region.Town.Name<br>
                    @if (Model.Region.Neiborhood != null)
                    {
                        <span>КВ.@Model.Region.Neiborhood</span>
                        <br>
                    }
                    <br>
                </td>
            </tr>
        </tbody>
    </table>

</body>
</html>