@using MobileWorld.Core.ViewModels
@model CarCardViewModel


<div class="wrapper">
    <div class="product-img">
        <img src="@Model.Url" class="car-img">
    </div>
    <div class="product-info">
        <div class="product-text">
            <h1>@Model.Title</h1>
            <hr class="split-line">
            <h2>@Model.Description</h2>
            <hr class="split-line">
            <h3 class="product-price">Price : @Model.Price</h3>
            <div class="button-holder info-button">
                <a href="/Cars/Details?carId=@Model.CarId" class="btn btn-info text-uppercase">Разгледай</a>
            </div>
        </div>
    </div>
</div>


@*<div class="wrapper">
    <div class="product-img">
        <img src="@car.Url" class="car-img">
    </div>
    <div class="product-info">
        <div class="product-text">
            <h1>@car.Title</h1>
            <h2>@car.Description</h2>
            <h3 class="product-price">Price : @car.Price</h3>
            <div class="button-holder info-button">
                <a href="/Cars/Details?carId=@car.CarId" class="btn btn-info text-uppercase">Разгледай</a>
            </div>
        </div>
    </div>
</div>*@