@using MobileWorld.Infrastructure.Data.QueriesAndSPDtoModels
@model AdCardSpViewModel


<div class="wrapper">
    <div class="product-img">
        @*<img class="d-block w-100" alt="IMAGES" src="~/Uploads/@Model.ImageTitle"  />*@
        <img class="d-block w-100 product-img-img" src="~/Uploads/@Model.ImageTitle" alt="IMAGES" />
    </div>
    <div class="product-info">
        <div class="product-text">
            <h1>@Model.Title</h1>
            <hr class="split-line">
            <label class="car-data">Дата на производство - </label>
            <label class="bold-text">@Model.Year</label>
            <br />
            <label class="car-data">Тип двигател - </label>
            <label class="bold-text">@Model.FuelType</label>
            <br />
            <label class="car-data">Мощност - </label>
            <label class="bold-text">@Model.HorsePower к.с.</label>
            <br />
            <label class="car-data">Пробег - </label>
            <label class="bold-text">@Model.Mileage км</label>
            <hr class="split-line">
            <h3 class="product-price">Цена : @Model.Price</h3>
            <div class="button-holder info-button">
                <a href="/Ad/Ad?adId=@Model.AdId" class="btn btn-info text-uppercase">Разгледай</a>
            </div>
            <label class="created-date">Добавена на: </label>
            <label class="bold-text">@Model.CreatedOn</label>
        </div>
    </div>
</div>