@using MobileWorld.Core.Models
@model UserViewModel

<div style="margin-bottom:5px; border-color:grey;">
    <label>ИД : @Model.Id | </label>
    <label>Потребителско име : @Model.UserName | </label>
    <label>Роля : @Model.Role</label>

    <a class="delete-border" asp-action="Delete" asp-route-adId="@Model.Id">Изтрий</a>
    <a class="edit-border" asp-action="Edit" asp-route-adId="@Model.Id">Редактирай</a>
</div>

